################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/workshop01/MyWebApplication/.vs
