@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var randomText = Model.RandomQuote;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <img src="~/images/logo.png" width="100" oncontextmenu="return false;" />
    <p>@randomText</p>
    <a href="https://github.com/lyw1987/myrepo" target="_blank">Repository</a>
</body>
</html>